<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Books', books_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Subjects', books_subjects_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @subject.id %></li>
  </ol>
</nav>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Books:</strong>
  <ul>
    <% @subject.books.each do |book| %>
      <li><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>
</p>
