<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Books', books_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Authors</li>
  </ol>
</nav>
 
<% if @authors.length > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
  
    <% @authors.each do |author| %>
      <tr>
        <td scope="row"><%= author.id %></td>
        <td><%= author.name %></td>
        <td><%= link_to 'Show', books_author_path(author) %></td>
      </tr>
    <% end %>
  </table>

  <%= paginate @authors %>
<% else %>
  No author
<% end %>