<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Books</li>
  </ol>
</nav>

<% if @books.length > 0 %>
	<table class="table">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Title</th>
		  <th scope="col">Publisher</th>
		  <th scope="col">Options</th>
		</tr>
	  </thead>
	 
	  <tbody>
		<% @books.each do |book| %>
		  <tr>
		    <td><%= book.id %></td>
			<td><%= book.title %></td>
			<td><%= book.publisher.name %></td>
			<td><%= link_to 'Show', book_path(book) %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<%= paginate @books %>
<% else %>
	No book
<% end %>