<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Books', books_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @book.id %></li>
  </ol>
</nav>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= link_to @book.publisher.name, books_publisher_path(@book.publisher) %>
</p>

<p>
  <strong>Authors:</strong>
  <ul>
    <% @book.authors.each do |author| %>
      <li><%= link_to author.name, books_author_path(author) %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Subjects:</strong>
  <ul>
    <% @book.subjects.each do |subject| %>
      <li><%= link_to subject.name, books_subject_path(subject) %></li>
    <% end %>
  </ul>
</p>
