<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Books', books_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Publishers</li>
  </ol>
</nav>

<% if @publishers.length > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @publishers.each do |publisher| %>
        <tr>
          <td><%= publisher.id %></td>
          <td><%= publisher.name %></td>
          <td><%= link_to 'Show', books_publisher_path(publisher) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @publishers %>
<% else %>
  No publisher
<% end %>